:ruby
  # Required locals:
  #   search [Ransack::Search]
%div{"data-hook" => "admin_orders_index_search"}
  = search_form_for [:admin, search] do |f|
    .row
      .date-range-filter.col-12.col-lg-8
        .form-group
          = label_tag :q_created_at_gt, Spree.t(:date_range)
          .row.pb-0
            .col-12.col-md-6.mb-3.mb-md-0
              .input-group.datePickerFrom{"data-alt-format" => "#{Spree.t(:fpr_human_friendly_date_format, scope: 'date_picker', default: 'M j, Y')}", "data-max-date" => "#{params[:q][:created_at_lt]}", "data-wrap" => "true"}
                = f.text_field :created_at_gt,                     |
                  class: 'form-control js-filterable shadow-none', |
                  value: params[:q][:created_at_gt],               |
                  placeholder: Spree.t(:starting_from),            |
                  'data-input':''                                  |
                = render partial: 'spree/admin/shared/cal_close'
            .col-12.col-md-6.mt-3.mt-md-0
              .input-group.datePickerTo{"data-alt-format" => "#{Spree.t(:fpr_human_friendly_date_format, scope: 'date_picker', default: 'M j, Y')}", "data-min-date" => "#{params[:q][:created_at_gt]}", "data-wrap" => "true"}
                = f.text_field :created_at_lt,                     |
                  class: 'form-control js-filterable shadow-none', |
                  value: params[:q][:created_at_lt],               |
                  placeholder: Spree.t(:ending_at),                |
                  'data-input':''                                  |
                = render partial: 'spree/admin/shared/cal_close'
      .col-12.col-lg-4
        .form-group
          = label_tag :q_number_cont, Spree.t(:order_number, number: '')
          = f.text_field :number_cont, class: 'form-control js-quick-search-target js-filterable'
    .row
      .col-12.col-lg-4
        .form-group
          = label_tag :q_state_eq, Spree.t(:status)
          = f.select :state_eq,                                                                               |
            Spree::Order.state_machines[:state].states.map {|s| [Spree.t("order_state.#{s.name}"), s.value]}, |
            { include_blank: true },                                                                          |
            class: 'select2-clear js-filterable'                                                              |
      .col-12.col-lg-4
        .form-group
          = label_tag :q_payment_state_eq, Spree.t(:payment_state)
          = f.select :payment_state_eq, Spree::Order::PAYMENT_STATES.map {|s| [Spree.t("payment_states.#{s}"), s]}, { include_blank: true }, class: 'select2-clear js-filterable'
      .col-12.col-lg-4
        .form-group
          = label_tag :q_shipment_state_eq, Spree.t(:shipment_state)
          = f.select :shipment_state_eq, Spree::Order::SHIPMENT_STATES.map {|s| [Spree.t("shipment_states.#{s}"), s]}, { include_blank: true }, class: 'select2-clear js-filterable'
    .row
      .col-12.col-lg-4
        .form-group
          = label_tag :q_bill_address_firstname_start, Spree.t(:first_name_begins_with)
          = f.text_field :bill_address_firstname_start, class: 'form-control js-filterable'
      .col-12.col-lg-4
        .form-group
          = label_tag :q_bill_address_lastname_start, Spree.t(:last_name_begins_with)
          = f.text_field :bill_address_lastname_start, class: 'form-control js-filterable'
      .col-12.col-lg-4
        .form-group
          = label_tag :q_email_cont, Spree.t(:email)
          = f.text_field :email_cont, class: 'form-control js-filterable'
    .row
      .col-12.col-lg-4
        .form-group
          = label_tag :q_line_items_variant_sku_eq, Spree.t(:sku)
          = f.text_field :line_items_variant_sku_eq, class: 'form-control js-filterable'
      .col-12.col-lg-4
        .form-group
          = label_tag :q_promotions_id_in, Spree.t(:promotion)
          = f.select :promotions_id_in, Spree::Promotion.applied.pluck(:name, :id), { include_blank: true }, class: 'select2-clear js-filterable'
      .col-12.col-lg-4
        .form-group
          = label_tag :q_store_id_in, Spree.t(:store)
          = f.select :store_id_in, Spree::Store.order(:name).pluck(:name, :id), { include_blank: true }, class: 'select2-clear js-filterable'
      .col-12.col-lg-4
        .form-group
          = label_tag :q_channel_eq, Spree.t(:channel)
          = f.select :channel_eq, Spree::Order.distinct.pluck(:channel), { include_blank: true }, class: 'select2-clear js-filterable'
      .col-12.col-lg-4
        .form-group
          .checkbox.mt-2
            = label_tag 'q_completed_at_not_null' do
              = f.check_box :completed_at_not_null, {checked: @show_only_completed}, '1', '0'
              = Spree.t(:show_only_complete_orders)
          .checkbox.mt-2
            = label_tag 'q_considered_risky_eq' do
              = f.check_box :considered_risky_eq, {checked: (params[:q][:considered_risky_eq] == '1')}, '1', ''
              = Spree.t(:show_only_considered_risky)
    .form-actions{"data-hook" => "admin_orders_index_search_buttons"}
      = button Spree.t(:filter_results), 'search.svg'