<ul class="nav pl-3 side-benefits-bar">
    <li class="pt-3">
      <% if remove_link %>
        <span class="check-mark">&#10003;</span><span class="benefit-list-item"> <%= Spree.t('homepage.benefits.first')%> </span>
      <% else %>
        <a href="/seller_signup"><span class="check-mark">&#10003;</span><span class="benefit-list-item"> <%= Spree.t('homepage.benefits.first')%> </span></a>
      <% end %>
      <!--<@%= link_to top_category.name, seo_url(top_category), class: "p-2 main-nav-bar-item main-nav-bar-category-button" %> -->
    </li>
    <li class="pt-2">
      <% if remove_link %>
        <span class="check-mark">&#10003;</span><span class="benefit-list-item"> <%= Spree.t('homepage.benefits.second')%> </span>
      <% else %>
        <a href="/seller_signup"><span class="check-mark">&#10003;</span><span class="benefit-list-item"> <%= Spree.t('homepage.benefits.second')%> </span></a>
      <% end %>
      <!--<@%= link_to top_category.name, seo_url(top_category), class: "p-2 main-nav-bar-item main-nav-bar-category-button" %> -->
    </li>
    <li class="pt-2">
      <% if remove_link %>
        <span class="check-mark">&#10003;</span><span class="benefit-list-item"> <%= Spree.t('homepage.benefits.third')%> </span>
      <% else %>
        <a href="/seller_signup"><span class="check-mark">&#10003;</span><span class="benefit-list-item"> <%= Spree.t('homepage.benefits.third')%> </span></a>
      <% end %>
      <!--<@%= link_to top_category.name, seo_url(top_category), class: "p-2 main-nav-bar-item main-nav-bar-category-button" %> -->
    </li>
    <li class="pt-2">
      <% if remove_link %>
        <span class="check-mark">&#10003;</span><span class="benefit-list-item"> <%= Spree.t('homepage.benefits.fourth')%> </span>
      <% else %>
        <a href="/seller_signup"><span class="check-mark">&#10003;</span><span class="benefit-list-item"> <%= Spree.t('homepage.benefits.fourth')%> </span></a>
      <% end %>
      <!--<@%= link_to top_category.name, seo_url(top_category), class: "p-2 main-nav-bar-item main-nav-bar-category-button" %> -->
    </li>
    <li class="pt-2">
      <% if remove_link %>
        <span class="check-mark">&#10003;</span><span class="benefit-list-item"> <%= Spree.t('homepage.benefits.fifth')%> </span>
      <% else %>
        <a href="/seller_signup"><span class="check-mark">&#10003;</span><span class="benefit-list-item"> <%= Spree.t('homepage.benefits.fifth')%> </span></a>
      <% end %>
      <!--<@%= link_to top_category.name, seo_url(top_category), class: "p-2 main-nav-bar-item main-nav-bar-category-button" %> -->
    </li>
</ul>
