<%= form_with(model: spree_store_payment_method, local: true) do |form| %>
  <% if spree_store_payment_method.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spree_store_payment_method.errors.count, "error") %> prohibited this spree_store_payment_method from being saved:</h2>

      <ul>
        <% spree_store_payment_method.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :store_id %>
    <%= form.number_field :store_id %>
  </div>

  <div class="field">
    <%= form.label :payment_method_id %>
    <%= form.number_field :payment_method_id %>
  </div>

  <div class="field">
    <%= form.label :account_parameters %>
    <%= form.email_field :account_parameters %>
  </div>

  <div class="field">
    <%= form.label :account_label %>
    <%= form.text_field :account_label %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
