<% @body_id = 'product-details'
  should_cache = params[:skip_cache].nil? && !debugging? && Time.now < Time.local(2022,4,15)
  ip_country = Rails.env.development? ? '127.0.0.1' : find_country
  show_cart_form_variants_to_guest = true
-%>
<% #cache_if should_cache, "product.#{@product.id}.show" do -%>
<% content_for :head do -%>
  <script type="text/javascript">
    function getRelatedItems() {
      $("#related_items").html("<div class='w-100 text-center'><span class='icon icon-repeat loading-animation m-5'></span></div>");
      $("#related_items").show();
      $.get('/products/<%= @product.id %>/related.js?container=<%= CGI.escape('#related_products') %>&authenticity_token=<%= spree_current_user.try(:spree_api_key) %>');
    }
  </script>
  <% if @product.variant_images.present? %>
     <meta property="og:image" content="<%= cdn_image_url(@product.variant_images.first, :large) %>" />
  <% else %>
      <meta property="og:image" content="https://www.ioffer.com/assets/logo/iOffer_logo_color_plain-a6ffbffb3ae1d5f4e41fcfd4180710fc68e487d0dd2be5c3ec4ae59074e8dff2.png" />
  <% end %>

<% end # global head -%>
<%
if spree_current_user&.admin? -%>
<%
  content_for :head do -%>
  <%= stylesheet_link_tag 'spree/backend/all' %>
  <%= stylesheet_link_tag 'spree/record_reviews' %>
  <%= javascript_include_tag 'spree/frontend_comp' %>
  <style type="text/css">
    .hide-many-lines { height: 5em; overflow: hidden; cursor: s-resize; }
  </style>
<%
  end # head
  content_for :footer do
-%>
  <script>
    function getVariantData() {
      $("#sellers_list").html("<div class='w-100 text-center'><span class='icon icon-repeat loading-animation m-5'></span></div>");
      $("#sellers_list").show();
      var variantId = $("form[id='add-to-cart-form'] input[name='variant_id']").val();
      if (typeof(variantId ) == 'undefined') { variantId = $(this).attr('data-variant-id'); }
      if (variantId && variantId != '') {
        $.get('/variants/' + variantId + '/data.js?authenticity_token=<%= spree_current_user.try(:spree_api_key) %>');
      }
    }
    function showBadSellers() {
      $('#sellers_list .bad-seller-row').show();
      if (this.tagName == 'A' || this.tagName == 'BUTTON') {
        $(this).hide();
      }
    }

    window.addEventListener('load', function() {
      getVariantData();
      getRelatedItems()
      $('.hide-many-lines').click(function(){ $(this).css('height', 'auto') });
    });
  </script>
  <% end # footer -%>
<% elsif spree_current_user&.full_seller? || spree_current_user&.approved_seller? || spree_current_user&.seller? ##Seller banner -%>
  <div class="seller-item-banner-detail">
    <!--<span><%= link_to t('seller.list_same_item'), admin_list_same_item_path(@product)%> <%= t('seller.list_same_item_text').gsub('%{num_users}', count_in_cart(@product).to_s)%></span>-->
    <%=t('seller.seller_banner_text')%>
    <br>
    <span>
      <%=t('seller.seller_banner_text_chinese_1')%>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%=t('seller.seller_banner_text_chinese_2')%>
    </span>
  </div>
<% else -%>
  <%
  content_for :head do -%>
  <script>
    window.addEventListener('load', function() {
      getRelatedItems()
      $('.hide-many-lines').click(function(){ $(this).css('height', 'auto') });
    });
  </script>
  <% end # head -%>
<% end -%>
  <div class="container mobile-padding-delete">
    <% if !spree_current_user&.seller? -%>
      <%= spree_breadcrumbs(@taxon, '', @product) %>
    <% end -%>
  </div>

  <div class="container pt-lg-4 product-details">
    <div class="row" data-hook="product_show">
      <div class="col-12 col-md-7 col-lg-7" data-hook="product_left_part">
        <div class="gallery-container position-relative">
        <%= render partial: 'gallery' %>
          <div class="rating-container position-absolute">
            <%= render 'spree/shared/rating', product: @product, review: 0, shortened: true %>
          </div>
        </div>
        <% if spree_current_user&.admin? -%>
          <div class="mt-3 mb-3" data-hook="product_stats">
            <br/>
            <%= render partial:'spree/products/brief_product_stats', locals:{ product: @product } %>
            <br/>
          </div>
        <% end -%>
        <br/>
      </div>
      <div class="col-12 col-md-5" data-hook="product_right_part">
        <% if can? :admin, @product -%>
        <div class="text-right">
          <%= link_to_with_icon('edit', t('spree.edit_product'), edit_admin_product_path(@product), class:'btn btn-warning' ) %>
          <%= link_to('Debug', admin_product_debug_path(@product), class:'btn btn-danger' ) if spree_current_user&.admin? %>
        </div>
        <br/>
        <% end -%>
        <div id="product-description" data-hook="product_right_part_wrap">
          <h1 class="mt-lg-3 mt-md-0 text-md-left product-details-title">
            <%= @product.name %>
          </h1>
          <% if spree_current_user&.seller? || (source_country?(spree_current_user&.country) &&!spree_current_user&.admin?) ############################ -%>
            <%= render partial:'list_same_item_form' %>

          <% elsif spree_current_user || show_cart_form_variants_to_guest || !params[:show_cart_form].nil? #################### -%>
            <div id="cart-form" data-hook="cart_form">
              <% cache_if should_cache, "product.#{@product.id}.cart_form#{'.for_others' unless @product.user_id==spree_current_user&.id}", skip_digest: true do -%>
                <%= render 'cart_form', variant_change_identifier: 'productCarousel' %>
              <% end -%>
            </div>
          <%  else ########################### -%>
            <%= render 'spree/shared/rating', product: @product, review: 0, shortened: true %>
            <div id="product-price" class="mb-2 text-center text-md-left add-to-cart-form-price" data-hook="product_price">
              <span class="price selling" content="<%= display_variant_or_master_price(@product.best_price_record) %>">
                <%= t('product.from') %>
                <%= display_variant_or_master_price(@product.best_price_record) %>
              </span>
              <span content="<%= current_currency %>"></span>
            </div>
            <a href="<%= signup_path(return_to: request.url) %>">
              <% if !spree_current_user&.seller? -%>
                <%= button_tag class: 'btn btn-primary w-100 text-uppercase font-weight-bold add-to-cart-button', id: '', type: :submit do %>
                  <%= Spree.t(:add_to_cart) %>
                <% end %>
              <% end %>
            </a>
          <%  end -%>
          <% if !spree_current_user&.seller? && ['united states', 'united states of america'].exclude?(ip_country&.downcase) -%>
            <%= image_tag(asset_path('payment_methods/secured_payments.png'), class:'product-detail-secure-payments mt-2', title: '') %>
          <% end %>
          <% if spree_current_user&.admin? -%>
            <br/>
            <br/>
            <% if @transactions_recent_weeks && @transactions_recent_weeks.size > 0 -%>
            <strong>TRX Last 3 Months</strong>
            <br/>
            <br/>
            <%= column_chart( @transactions_recent_weeks, min: (@transactions_recent_weeks.values.min.to_i * 0.9).to_i ) %>
            <% end -%>
          <% end # admin above -%>
          <br/>
        </div>
        <% if !spree_current_user&.seller? && @product.description.present? && @product.description.length > 0 %>
          <div data-hook="product_description">
            <%= render partial: 'description', locals:{ show_short: !spree_current_user&.admin? && @product.description.length > 450 } %>
          </div>
        <% end -%>
      </div>
    </div>
    <% if spree_current_user&.admin? -%>
      <div id="sellers_list" class="pb-4 ml-2 mb-5 row" data-hook="sellers">
      </div>
    <% end -%>
    <div class="pb-4 mt-3 row" data-hook="product_related">
      <% cols_to_use = spree_current_user&.admin? ? 'col-12 col-md-6' : 'col-12 col-lg-7' -%>
      <div class="<%= cols_to_use %>">
        <div class="mb-4" data-hook="product_properties">
          <%= render partial: 'properties' %>
          <%= render partial: 'promotions' %>
        </div>
      </div>
      <div id="related_products_wrapper" class="mt-4 col-12">
        <h5 style='display: none;'><%= t('product.related_items') %></h5>
        <div id="related_products" class="row"></div>
      </div>
    </div>

    <div id="no-product-available" class="no-product-available-dropdown">
      <%= render partial: 'spree/shared/no_product_available' %>
    </div>

    <%= render partial: 'gallery_modal' %>
  </div>

  <%= render 'spree/shared/product_added_modal' %>
  <div id="variant_added_wrapper">
    <%# = render partial: 'spree/shared/variant_added_modal', locals:{ variant: @product.variants.last } if @product.variants.last -%>
  </div>
<% # end # whole page cache -%>

<div
  data-related-products
  data-related-products-id="<%= @product.slug %>"
  data-related-products-enabled="<%= @product.respond_to?(:has_related_products?) %>"
/>
