<div id="pricing" class="pricing-area mt-2 <%= extended_class %>">
          <div class="row justify-content-center">
            <a href="/t/categories/footwear/mens-shoes/sneakers">
              <div class="col-lg-4 col-md-4 col-6 pricing-height-temp overflow-hidden">
                  <div class="Items-bubble-overlay">
                    <div class="pricing-style-one m-2 wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.2s">
                        <div class="pricing-icon text-center">
                            <img src="https://ioffer.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMW9WQ3c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--f26c561e98f5361cff70396378c13663d20282ba/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTmpVd2VEZzNNRDRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--f742933d0b386540fca97a367c47c785cfb0efe9/dd48e2544b8ab96e372f7fba8baea5e8.jpeg" alt="">
                        </div>
                        <div class="pricing-header text-center">
                            <h5 class="sub-title">Sneakers</h5>
                        </div>
                        <div class="pricing-btn rounded-buttons text-center">
                            <a href="/t/categories/footwear/mens-shoes/sneakers" class="main-btn rounded-three white-text icon-btn"><img src="<%= asset_path('icon/circle-flame.png') %>" alt="services">5179 Items!</a>
                        </div>
                    </div> <!-- pricing style one -->
                </div>
              </div>
            </a>
            <a href="/t/categories/purses">
              <div class="col-lg-4 col-md-4 col-6 pricing-height-temp overflow-hidden">
                  <div class="Items-bubble-overlay">
                    <div class="pricing-style-one m-2 wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.2s">
                        <div class="pricing-icon text-center">
                            <img src="https://ioffer.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeEYyQ3c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--bfc3442a7d451fbd7516fa4fd6c10ad183079098/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTmpVd2VEZzNNRDRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--f742933d0b386540fca97a367c47c785cfb0efe9/1955-horsebit-leather-tote-bag-73135.1.png" alt="">
                        </div>
                        <div class="pricing-header text-center">
                            <h5 class="sub-title">Purses</h5>
                        </div>
                        <div class="pricing-btn rounded-buttons text-center">
                            <a href="/t/categories/purses" class="main-btn rounded-three white-text icon-btn"><img src="<%= asset_path('icon/circle-flame.png') %>" alt="services">5072 Items!</a>
                        </div>
                    </div> <!-- pricing style one -->
                </div>
              </div>
            </a>
          <a href="/t/categories/womens-clothing">
            <div class="col-lg-4 col-md-4 col-6 pricing-height-temp overflow-hidden mobile-cat-card-height">
                <div class="Items-bubble-overlay">
                  <div class="pricing-style-one m-2 wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.2s">
                      <div class="pricing-icon text-center">
                          <img src="https://ioffer.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBK3VOQ3c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3e2c3f36a79d7844cd5da35f857ae4ad2a479d58/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTmpVd2VEZzNNRDRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--f742933d0b386540fca97a367c47c785cfb0efe9/O1CN012CMhv11rfPZN6e0lx_!!139935658.jpg" alt="">
                      </div>
                      <div class="pricing-header text-center">
                          <h5 class="sub-title">Women's Clothing</h5>
                      </div>
                      <div class="pricing-btn rounded-buttons text-center">
                          <a href="/t/categories/womens-clothing" class="main-btn rounded-three white-text icon-btn"><img src="<%= asset_path('icon/circle-flame.png') %>" alt="services">12395 Items!</a>
                      </div>
                  </div> <!-- pricing style one -->
              </div>
              </div>
          </a>
          <a href="/products_c?keywords=sunglasses">
            <div class="col-lg-4 col-md-4 col-6 pricing-height-temp overflow-hidden">
                <div class="Items-bubble-overlay">
                  <div class="pricing-style-one m-2 wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.2s">
                      <div class="pricing-icon text-center">
                          <img src="https://ioffer.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeHhPQ2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--8d7b0a817d4994d6c0f1efdfe2e1442516dca2b2/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTmpVd2VEZzNNRDRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--f742933d0b386540fca97a367c47c785cfb0efe9/desc_louis-vuitton-sunglasses_0.jpg" alt="">
                      </div>
                      <div class="pricing-header text-center">
                          <h5 class="sub-title">Sunglasses</h5>
                      </div>
                      <div class="pricing-btn rounded-buttons text-center">
                          <a href="/products_c?keywords=sunglasses" class="main-btn rounded-three white-text icon-btn"><img src="<%= asset_path('icon/circle-flame.png') %>" alt="services">1204 Items!</a>
                      </div>
                  </div> <!-- pricing style one -->
              </div>
            </div>
          </a>
          <a href="/t/categories/mens-clothing/tops/t-shirts">
            <div class="col-lg-4 col-md-4 col-6 pricing-height-temp overflow-hidden">
                <div class="Items-bubble-overlay">
                  <div class="pricing-style-one m-2 wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.2s">
                      <div class="pricing-icon text-center">
                          <img src="https://ioffer.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBei8rQ3c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--a867fbb72419e804ef0a7cc6b680bdd58a92a4fd/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTmpVd2VEZzNNRDRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--f742933d0b386540fca97a367c47c785cfb0efe9/KAWS-x-Uniqlo-Tokyo-First-Mori-Arts-Gallery-Exclusive-Tee-Japanese-Sizing-White.jpg" alt="">
                      </div>
                      <div class="pricing-header text-center">
                          <h5 class="sub-title">Men's T-Shirts</h5>
                      </div>
                      <div class="pricing-btn rounded-buttons text-center">
                          <a href="/t/categories/mens-clothing/tops/t-shirts" class="main-btn rounded-three white-text icon-btn"><img src="<%= asset_path('icon/circle-flame.png') %>" alt="services">4442 Items!</a>
                      </div>
                  </div> <!-- pricing style one -->
              </div>
            </div>
          </a>
          <a href="/t/categories/footwear/womens-shoes/heels">
            <div class="col-lg-4 col-md-4 col-6 pricing-height-temp overflow-hidden">
                <div class="Items-bubble-overlay">
                  <div class="pricing-style-one m-2 wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.2s">
                      <div class="pricing-icon text-center">
                          <img src="https://ioffer.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNFB3Q3c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--4a6ef3b5fd3d97990db1520f99bd1f7cff28991a/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTmpBd2VEWXdNRDRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--63a3b5f97ae9837bfddcc95409683247329f9511/ed6b48d230b94b9f9e1496c17a44a08b.jpg" alt="">
                      </div>
                      <div class="pricing-header text-center">
                          <h5 class="sub-title">Women's Shoes</h5>
                      </div>
                      <div class="pricing-btn rounded-buttons text-center">
                          <a href="/t/categories/footwear/womens-shoes/heels" class="main-btn rounded-three white-text icon-btn"><img src="<%= asset_path('icon/circle-flame.png') %>" alt="services">3094 Items!</a>
                      </div>
                  </div> <!-- pricing style one -->
              </div>
            </div>
          </a>
          <a href="/products_c?keywords=hats">
            <div class="col-lg-4 col-md-4 col-6 pricing-height-temp overflow-hidden">
                <div class="Items-bubble-overlay">
                  <div class="pricing-style-one m-2 wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.2s">
                      <div class="pricing-icon text-center">
                          <!--<img src="https://ioffer.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNk9mQnc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--914db9dccc84b8f8069e67a1f458d2769b15dbe2/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTmpBd2VEWXdNRDRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--63a3b5f97ae9837bfddcc95409683247329f9511/open-uri20200705-1736-vo2avk.jpeg" alt="">-->
                          <img src="https://ioffer.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNTJRQ3c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--a43e1412aa3c048d5b270110884e0ef8dcdc46e9/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTmpVd2VEZzNNRDRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--f742933d0b386540fca97a367c47c785cfb0efe9/62ca7453.jpg" alt="">
                      </div>
                      <div class="pricing-header text-center">
                          <h5 class="sub-title">Hats</h5>
                      </div>
                      <div class="pricing-btn rounded-buttons text-center">
                          <a href="/products_c?keywords=hats" class="main-btn rounded-three white-text icon-btn"><img src="<%= asset_path('icon/circle-flame.png') %>" alt="services">1884 Items!</a>
                      </div>
                  </div> <!-- pricing style one -->
              </div>
            </div>
          </a>
          <a href="/products_c?keywords=streetwear">
            <div class="col-lg-4 col-md-4 col-6 pricing-height-temp overflow-hidden">
                <div class="Items-bubble-overlay">
                  <div class="pricing-style-one m-2 wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.2s">
                      <div class="pricing-icon text-center">
                          <img src="https://ioffer.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMS8rQnc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--1484973414e379e290dbc300e0a0a1f402500cf1/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTmpBd2VEWXdNRDRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--63a3b5f97ae9837bfddcc95409683247329f9511/open-uri20200707-21159-10iqeze.jpeg" alt="">
                      </div>
                      <div class="pricing-header text-center">
                          <h5 class="sub-title">Streetwear</h5>
                      </div>
                      <div class="pricing-btn rounded-buttons text-center">
                          <a href="/products_c?keywords=streetwear" class="main-btn rounded-three white-text icon-btn"><img src="<%= asset_path('icon/circle-flame.png') %>" alt="services">17691 Items!</a>
                      </div>
                  </div> <!-- pricing style one -->
              </div>
            </div>
          </a>
          <a href="/products_c?keywords=soccer+football">
            <div class="col-lg-4 col-md-4 col-6 pricing-height-temp overflow-hidden">
                <div class="Items-bubble-overlay">
                  <div class="pricing-style-one m-2 wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.2s">
                      <div class="pricing-icon text-center">
                          <img src="https://ioffer.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMGlvQ3c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--2ea5fb943ddbd4aa24fdaab9701ea182f336b344/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTmpVd2VEZzNNRDRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--f742933d0b386540fca97a367c47c785cfb0efe9/AC%20Milan%20Home%20Authentic%20Jersey%202021-22%20(3).jpg" alt="">
                      </div>
                      <div class="pricing-header text-center">
                          <h5 class="sub-title">Soccer</h5>
                      </div>
                      <div class="pricing-btn rounded-buttons text-center">
                          <a href="/products_c?keywords=soccer+football" class="main-btn rounded-three white-text icon-btn"><img src="<%= asset_path('icon/circle-flame.png') %>" alt="services">8754 Items!</a>
                      </div>
                  </div> <!-- pricing style one -->
              </div>
            </div>
          </a>
          <a href="/t/categories/womens-clothing/activewear">
            <div class="col-lg-4 col-md-4 col-6 pricing-height-temp overflow-hidden">
                <div class="Items-bubble-overlay">
                  <div class="pricing-style-one m-2 wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.2s">
                      <div class="pricing-icon text-center">
                          <img src="https://ioffer.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeTdwQ3c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--f114b1c67ea78fba3935436e12b61436dd15fdbe/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTmpVd2VEZzNNRDRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--f742933d0b386540fca97a367c47c785cfb0efe9/1044b9747f784df5acfee0064cf8f440.jpg" alt="">
                      </div>
                      <div class="pricing-header text-center">
                          <h5 class="sub-title">Athleisure</h5>
                      </div>
                      <div class="pricing-btn rounded-buttons text-center">
                          <a href="/t/categories/womens-clothing/activewear" class="main-btn rounded-three white-text icon-btn"><img src="<%= asset_path('icon/circle-flame.png') %>" alt="services">5107 Items!</a>
                      </div>
                  </div> <!-- pricing style one -->
              </div>
            </div>
          </a>
          <a href="/t/categories/jewelry-accessories">
            <div class="col-lg-4 col-md-4 col-6 pricing-height-temp overflow-hidden">
                <div class="Items-bubble-overlay">
                  <div class="pricing-style-one m-2 wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.2s">
                      <div class="pricing-icon text-center">
                          <img src="https://ioffer.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNXdHREE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--898cb64409cbfb165584d62b0d35d7fc3df110c6/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTmpVd2VEZzNNRDRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--f742933d0b386540fca97a367c47c785cfb0efe9/1.jpg" alt="">
                      </div>
                      <div class="pricing-header text-center">
                          <h5 class="sub-title">Watches</h5>
                      </div>
                      <div class="pricing-btn rounded-buttons text-center">
                          <a href="/t/categories/jewelry-accessories" class="main-btn rounded-three white-text icon-btn"><img src="<%= asset_path('icon/circle-flame.png') %>" alt="services">2197 Items!</a>
                      </div>
                  </div> <!-- pricing style one -->
              </div>
            </div>
          </a>
          <a href="/products_c?keywords=belts">
            <div class="col-lg-4 col-md-4 col-6 pricing-height-temp overflow-hidden">
                <div class="Items-bubble-overlay">
                  <div class="pricing-style-one m-2 wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.2s">
                      <div class="pricing-icon text-center">
                          <img src="https://ioffer.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeTZ0Q3c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--c650cf91fedd5819b1ef33be17af981c141ed68c/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTmpBd2VEWXdNRDRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--63a3b5f97ae9837bfddcc95409683247329f9511/c1950373.jpg" alt="">
                      </div>
                      <div class="pricing-header text-center">
                          <h5 class="sub-title">Leather Belts</h5>
                      </div>
                      <div class="pricing-btn rounded-buttons text-center">
                          <a href="/products_c?keywords=belts" class="main-btn rounded-three white-text icon-btn"><img src="<%= asset_path('icon/circle-flame.png') %>" alt="services">2014 Items!</a>
                      </div>
                  </div> <!-- pricing style one -->
              </div>
            </div>
          </a>
          <a href="/products_c?keywords=totes">
            <div class="col-lg-4 col-md-4 col-6 pricing-height-temp overflow-hidden">
                <div class="Items-bubble-overlay">
                  <div class="pricing-style-one m-2 wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.2s">
                      <div class="pricing-icon text-center">
                          <img src="https://ioffer.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBODExQ3c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--1f5bba21866937923b2765e49300ecb3543d772e/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTmpVd2VEZzNNRDRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--f742933d0b386540fca97a367c47c785cfb0efe9/1955-horsebit-gg-tote-bag-brown-73157.1.png" alt="">
                      </div>
                      <div class="pricing-header text-center">
                          <h5 class="sub-title">Totes</h5>
                      </div>
                      <div class="pricing-btn rounded-buttons text-center">
                          <a href="/products_c?keywords=totes" class="main-btn rounded-three white-text icon-btn"><img src="<%= asset_path('icon/circle-flame.png') %>" alt="services">5908 Items!</a>
                      </div>
                  </div> <!-- pricing style one -->
              </div>
            </div>
          </a>
          <a href="/t/categories/womens-clothing/accessories/eyewear-accessories">
            <div class="col-lg-4 col-md-4 col-6 pricing-height-temp overflow-hidden">
                <div class="Items-bubble-overlay">
                  <div class="pricing-style-one m-2 wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.2s">
                      <div class="pricing-icon text-center">
                          <img src="https://ioffer.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBM3p1Q3c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--f052d9fdb782697d023ab097838c72586a4ecb5a/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTmpVd2VEZzNNRDRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--f742933d0b386540fca97a367c47c785cfb0efe9/f860a83461e54fd888db4fe97e6c71af.jpg" alt="">
                      </div>
                      <div class="pricing-header text-center">
                          <h5 class="sub-title">Women's Sunglasses</h5>
                      </div>
                      <div class="pricing-btn rounded-buttons text-center">
                          <a href="/t/categories/womens-clothing/accessories/eyewear-accessories" class="main-btn rounded-three white-text icon-btn"><img src="<%= asset_path('icon/circle-flame.png') %>" alt="services">4127 Items!</a>
                      </div>
                  </div> <!-- pricing style one -->
              </div>
            </div>
          </a>
          <a href="/t/categories/footwear/womens-shoes/boots">
            <div class="col-lg-4 col-md-4 col-6 pricing-height-temp overflow-hidden">
                <div class="Items-bubble-overlay">
                  <div class="pricing-style-one m-2 wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.8s">
                      <div class="pricing-icon text-center">
                          <img src="https://ioffer.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNDd3Q3c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--f83f7f1d877eda3f43fc559996bb8cdcf5d1ad2e/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTmpBd2VEWXdNRDRHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--63a3b5f97ae9837bfddcc95409683247329f9511/29e580d5dade43d4b91ae5e55612526d.jpg" alt="">
                      </div>
                      <div class="pricing-header text-center">
                          <h5 class="sub-title">Boots</h5>
                      </div>
                      <div class="pricing-btn rounded-buttons text-center">
                          <a href="/t/categories/footwear/womens-shoes/boots" class="main-btn rounded-three white-text icon-btn"><img src="<%= asset_path('icon/circle-flame.png') %>" alt="services">6552 Items!</a>
                      </div>
                  </div> <!-- pricing style one -->
              </div>
            </div>
          </a>
        </div>
      <br/>
    </div> <!-- container -->
