:ruby
  # Required locals
  #   address [Spree::Address]
  # Optional locals
  #   name_label: [String] replacement of "Name" label
  name_label = t('user.name') if !defined?(name_label) || name_label.blank?
.row
  .col-3.col-md-2
    %strong= name_label
  .col-9.col-md-10
    = address.full_name
.row
  .col-3.col-md-2
    %strong #{ t('user.address.street') } 
    %strong #{ t('user.address.apartment') } 
  .col-9.col-md-10
    = [address.address1, address.address2].compact.join(' ')
.row
  .col-3.col-md-2
    %strong= Spree.t('activerecord.attributes.spree/address.city')
  .col-9.col-md-10
    = address.city
.row
  .col-3.col-md-2
    %strong= t('user.address.state_or_providence').gsub('/', ' / ')
  .col-9.col-md-10
    = address.state&.abbr
    = address.zipcode
    %tr
.row
  .col-3.col-md-2
    %strong= Spree.t('activerecord.attributes.spree/address.country')
  .col-9.col-md-10
    = address.country