<ul class="nav pl-3 side-cat-bar">
  <li style="width:100%">
    <%= link_to admin_find_and_list_items_path(keywords: "Louis Vuitton") do %>
      <span class="p-2 main-nav-bar-item main-nav-bar-category-button">Louis Vuitton</span>
    <% end %>
    <!--<@%= link_to top_category.name, seo_url(top_category), class: "p-2 main-nav-bar-item main-nav-bar-category-button" %> -->
  </li>
  <li style="width:100%">
    <%= link_to admin_find_and_list_items_path(keywords: "Balenciaga") do %>
      <span class="p-2 main-nav-bar-item main-nav-bar-category-button">Balenciaga</span>
    <% end %>
    <!--<@%= link_to top_category.name, seo_url(top_category), class: "p-2 main-nav-bar-item main-nav-bar-category-button" %> -->
  </li>
  <li style="width:100%">
    <%= link_to admin_find_and_list_items_path(keywords: "Versace") do %>
      <span class="p-2 main-nav-bar-item main-nav-bar-category-button">Versace</span>
    <% end %>
    <!--<@%= link_to top_category.name, seo_url(top_category), class: "p-2 main-nav-bar-item main-nav-bar-category-button" %> -->
  </li>
  <li style="width:100%">
    <%= link_to admin_find_and_list_items_path(keywords: "Gucci") do %>
      <span class="p-2 main-nav-bar-item main-nav-bar-category-button">Gucci</span>
    <% end %>
    <!--<@%= link_to top_category.name, seo_url(top_category), class: "p-2 main-nav-bar-item main-nav-bar-category-button" %> -->
  </li>
  <li style="width:100%">
    <%= link_to admin_find_and_list_items_path(keywords: "Nike") do %>
      <span class="p-2 main-nav-bar-item main-nav-bar-category-button">Nike</span>
    <% end %>
    <!--<@%= link_to top_category.name, seo_url(top_category), class: "p-2 main-nav-bar-item main-nav-bar-category-button" %> -->
  </li>
  <li style="width:100%">
    <%= link_to admin_find_and_list_items_path(keywords: "Moncler") do %>
      <span class="p-2 main-nav-bar-item main-nav-bar-category-button">Moncler</span>
    <% end %>
    <!--<@%= link_to top_category.name, seo_url(top_category), class: "p-2 main-nav-bar-item main-nav-bar-category-button" %> -->
  </li>
  <li style="width:100%">
    <%= link_to admin_find_and_list_items_path(keywords: "Chanel") do %>
      <span class="p-2 main-nav-bar-item main-nav-bar-category-button">Chanel</span>
    <% end %>
    <!--<@%= link_to top_category.name, seo_url(top_category), class: "p-2 main-nav-bar-item main-nav-bar-category-button" %> -->
  </li>
    <li style="width:100%">
      <%= link_to admin_find_and_list_items_path(keywords: "Prada") do %>
        <span class="p-2 main-nav-bar-item main-nav-bar-category-button">Prada</span>
      <% end %>
      <!--<@%= link_to top_category.name, seo_url(top_category), class: "p-2 main-nav-bar-item main-nav-bar-category-button" %> -->
    </li>
    <li style="width:100%">
      <%= link_to admin_find_and_list_items_path(keywords: "Burberry") do %>
        <span class="p-2 main-nav-bar-item main-nav-bar-category-button">Burberry</span>
      <% end %>
      <!--<@%= link_to top_category.name, seo_url(top_category), class: "p-2 main-nav-bar-item main-nav-bar-category-button" %> -->
    </li>
    <li style="width:100%">
      <%= link_to admin_find_and_list_items_path(keywords: "Off White") do %>
        <span class="p-2 main-nav-bar-item main-nav-bar-category-button">Off White</span>
      <% end %>
      <!--<@%= link_to top_category.name, seo_url(top_category), class: "p-2 main-nav-bar-item main-nav-bar-category-button" %> -->
    </li>
    <li style="width:100%">
      <%= link_to admin_find_and_list_items_path(keywords: "Dior") do %>
        <span class="p-2 main-nav-bar-item main-nav-bar-category-button">Dior</span>
      <% end %>
      <!--<@%= link_to top_category.name, seo_url(top_category), class: "p-2 main-nav-bar-item main-nav-bar-category-button" %> -->
    </li>
    <li style="width:100%">
      <%= link_to admin_find_and_list_items_path(keywords: "Air Jordan") do %>
        <span class="p-2 main-nav-bar-item main-nav-bar-category-button">Air Jordan</span>
      <% end %>
      <!--<@%= link_to top_category.name, seo_url(top_category), class: "p-2 main-nav-bar-item main-nav-bar-category-button" %> -->
    </li>
</ul>
