:ruby
  password_error = @spree_user ? @spree_user.errors[:password] : nil
  password_conf_error = @spree_user ? @spree_user.errors[:password_confirmation] : nil

.row.curated-menu.onboarding-container
  .col-xl-3.categories-side-bar
    .source-country-title-header.mb-3
      = t('spree.start_selling_now')
    .benefit-list-item.mb-3
      = t('user.update_your_account')
    = form_for @spree_user, as: :spree_user, url: onboarding_change_password_path(passcode: params[:passcode]), html:{ method: :put } do |f|
      = f.hidden_field :reset_password_token
      .form-group
        = f.password_field :password, class:"reset-password-box form-control#{ ' border-danger shadow' if password_error.present?}", placeholder: t('user.password.enter_password')
      .form-group.input-group
        = f.password_field :password_confirmation, class:"reset-password-box form-control#{' border-danger shadow' if password_conf_error.present?}", placeholder: t('user.password.reenter_password')
        .input-group-append
          = f.submit Spree.t(:update), class: 'btn rounded-new-ioffer-button'
      - if password_error.present? || password_conf_error.present?
        %div.text-danger= password_error.join('   ')
        %div.text-danger= password_conf_error.join('   ')
    .source-country-title-header.mt-5
      = Spree.t('homepage.top_sellers')
    = render partial: 'home/source_country/visual_category_list'
    .source-country-title-header.mb-3
      = Spree.t('homepage.trending_header')
    = render partial: 'home/trending_searches'
  .col-xl-9.col-sm-12
    .remove-on-desktop.mt-5
      = form_for @spree_user, as: :spree_user, url: onboarding_change_password_path(passcode: params[:passcode]), html:{ method: :put } do |f|
        = f.hidden_field :reset_password_token
        .form-group
          = f.password_field :password, class:"reset-password-box form-control#{ ' border-danger shadow' if password_error.present?}", placeholder: t('user.password.enter_password')
        .form-group.input-group
          = f.password_field :password_confirmation, class:"reset-password-box form-control#{' border-danger shadow' if password_conf_error.present?}", placeholder: t('user.password.reenter_password')
          .input-group-append
            = f.submit Spree.t(:update), class: 'btn rounded-new-ioffer-button'
        - if password_error.present? || password_conf_error.present?
          %div.text-danger= password_error.join('   ')
          %div.text-danger= password_conf_error.join('   ')
    .seller-landing-title.center-text.mt-3.mb-5
      = t('spree.seller_landing_title').gsub('{USERID}', @spree_user.try(:username) || '')
    .row.rating-container
      .col-xs-12.col-md-4.margin-on-mobile
        .source-country-title-header
          = Spree.t('homepage.benefits.benefits_list_header')
        = render partial: 'home/source_country/benefits_list', locals: { remove_link: true }
      .col-xs-12.col-md-8.margin-on-mobile
        = render partial: 'spree/shared/rating_box', locals: { user: @spree_user }
    .source-country-title-header.mt-5.center-text.remove-on-mobile
      = Spree.t('homepage.praises')
    .review-wrapper.remove-on-mobile
      .outer{:style => "height:320px;"}
        - fetch_happy_buyer_messages().each_with_index do|message_attr, index|
          .card{:style => "--delay:#{index <= 3 ? index - 1 : 2};"}
            .bubble
              = message_attr['message']
              %div{:style => "font-weight: 700"}
                = inline_svg_tag "flags/4x3/#{message_attr['country_code'].downcase}.svg", size: '2.6em*1.3em'
                = message_attr['user'].censored_middle
                (#{message_attr['purchases']} Purchases) from #{message_attr['country']}
    .source-country-title-header.ml-5.mb-3
      = Spree.t('homepage.latest_sales')
    .row.mb-5.top-products-container
      - @top_products.each do|product|
        .col-md-3.col-sm-6
          .p-1.fixed-size-card(id="" data-userid="")
            .row.m-1
              .a-image-container.product-adoption-card-image-container.zoom-hover
                = link_to product_path(product) do
                  = plp_and_carousel_image(product, class: "d-block mx-auto lazyloaded")
            .a-title.h5
              = link_to product.name.truncate(60), product_path(product), title: product.name, 'data-toggle'=>'tooltip', class: 'product-title'
            - fetch_random_happy_buyer_message().each_with_index do|message_attr, index|
              .row
                .col-6
                  = inline_svg_tag "flags/4x3/#{message_attr['country_code'].downcase}.svg", size: '1.3em*.65em'
                  = message_attr['user'].censored_middle
                .col-6.price-container
                  .source-country-title-header
                    = number_to_currency(product.price)
