<style>
  .visual-categories{
    width: 100%;
    list-style-type: none;
    padding-inline-start: 0em !important;
  }


  .visual-category-tile {
    display: inline-block;
    height: 54px;
    width: 100%;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 6px;
    background-color: white;
    border: solid 1px #e1e1e1;
    border-radius: 10pt;
    overflow: hidden;
  }
  .visual-category-tile .category-icon {
    line-height: 40px;
  }
  .visual-category-tile .category-icon-vert {
    line-height: 52px;
  }
  .visual-category-tile .category-icon img {
    height: 44px;
  margin: 0 auto;}

  .visual-category-tile .category-icon-vert img {
    width: 40px;
    margin: 0 auto;
    }
  .visual-category-tile .category-header .sub-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 44px;
    color: #121212;
    position: relative;
    margin-left: 12pt;
  }

  .visual-category-tile:hover{
    border: solid 2px #000;
  }

</style>

<ul class="visual-categories" data-toggle="collapse">
    <li class="mt-3">
      <a href="/admin/find_and_list_items?sid=K8J1Y5&utm_source=wanted&utm_medium=tile&utm_campaign=<%= spree_current_user&.id %>&utm_term=handbags">
          <div class="visual-category-tile overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-7 category-header">
                  <h5 class="sub-title">Handbags</h5>
              </div>
              <div class="col-5 category-icon text-center">
                  <img src="https://ioffer-assets.oss-eu-west-1.aliyuncs.com/as/variants/2ytnkft161y/ms65q1hhlt/c2wk5jd/bf/9536ee218c/6feedf26a1/ba46bbbc14/a0e225ae18/4f3f620947/c062ca7230/57" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/admin/find_and_list_items?sid=N2L4X7&utm_source=wanted&utm_medium=tile&utm_campaign=<%= spree_current_user&.id %>&utm_term=sunglasses">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-7 category-header">
                  <h5 class="sub-title">Sunglasses</h5>
              </div>
              <div class="col-5 category-icon text-center">
                  <img src="https://ioffer-assets.oss-eu-west-1.aliyuncs.com/as/variants/aoij5qmcc2t/dsofgafoft/juog8c5/bf/9536ee218c/6feedf26a1/ba46bbbc14/a0e225ae18/4f3f620947/c062ca7230/57" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/admin/products/new?utm_term=postside">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-3 category-icon h-80 text-center" style="height: 38px;">
                <%= image_tag(asset_path('icon/shirt-icon.png')) %>
              </div>
              <div class="col-6 category-header text-center">
                  <h5 class="sub-title" style="font-size:11pt;">New Item</h5>
              </div>
              <div class="col-3 category-icon h-80 text-center">
                <%= image_tag(asset_path('icon/green-plus.png'), style: 'height: 22pt;') %>
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/admin/find_and_list_items?sid=P9Q3V8&utm_source=wanted&utm_medium=tile&utm_campaign=<%= spree_current_user&.id %>&utm_term=wallets">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-7 category-header">
                  <h5 class="sub-title">Wallets</h5>
              </div>
              <div class="col-5 category-icon text-center">
                  <img src="https://ioffer-assets.oss-eu-west-1.aliyuncs.com/as/variants/oolydtzvhit/3sptijzxqi/99rd619/bf/9536ee218c/6feedf26a1/ba46bbbc14/a0e225ae18/4f3f620947/c062ca7230/57" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/admin/find_and_list_items?sid=Z6F2W3&utm_source=wanted&utm_medium=tile&utm_campaign=<%= spree_current_user&.id %>&utm_term=t-shirts">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-7 category-header">
                  <h5 class="sub-title">T-Shirts</h5>
              </div>
              <div class="col-5 category-icon text-center">
                  <img src="https://ioffer-assets.oss-eu-west-1.aliyuncs.com/as/variants/fi8a3g6n5ad/laob8q144p/9y2aduq/bf/9536ee218c/6feedf26a1/ba46bbbc14/a0e225ae18/4f3f620947/c062ca7230/57" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/admin/find_and_list_items?sid=M7R1T9&utm_source=wanted&utm_medium=tile&utm_campaign=<%= spree_current_user&.id %>&utm_term=totes">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-7 category-header">
                  <h5 class="sub-title">Totes</h5>
              </div>
              <div class="col-5 category-icon text-center">
                  <img src="https://ioffer-assets.oss-eu-west-1.aliyuncs.com/as/variants/lavc4o1bo3s/yjkyylxwlt/oqbiys7/bf/9536ee218c/6feedf26a1/ba46bbbc14/a0e225ae18/4f3f620947/c062ca7230/57" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/admin/find_and_list_items?sid=B4D8Y6&utm_source=wanted&utm_medium=tile&utm_campaign=<%= spree_current_user&.id %>&utm_term=watches">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-7 category-header">
                  <h5 class="sub-title">Watches</h5>
              </div>
              <div class="col-5 category-icon text-center">
                  <img src="https://ioffer-assets.oss-eu-west-1.aliyuncs.com/as/variants/86vdapmx9vh/pv08scakgo/o5qy62d/bf/9536ee218c/6feedf26a1/ba46bbbc14/a0e225ae18/4f3f620947/c062ca7230/57" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/admin/find_and_list_items?sid=C1H5L2&utm_source=wanted&utm_medium=tile&utm_campaign=<%= spree_current_user&.id %>&utm_term=bags">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-7 category-header">
                  <h5 class="sub-title">Bags</h5>
              </div>
              <div class="col-5 category-icon text-center">
                  <img src="https://ioffer-assets.oss-eu-west-1.aliyuncs.com/as/variants/jrdfe2z6mu5/mgnqmeu2df/bmh231r/bf/9536ee218c/6feedf26a1/ba46bbbc14/a0e225ae18/4f3f620947/c062ca7230/57" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/admin/find_and_list_items?sid=E3W7Z9&utm_source=wanted&utm_medium=tile&utm_campaign=<%= spree_current_user&.id %>&utm_term=backpacks">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-7 category-header">
                  <h5 class="sub-title">Backpacks</h5>
              </div>
              <div class="col-5 category-icon text-center">
                  <img src="https://ioffer-assets.oss-eu-west-1.aliyuncs.com/as/variants/qeux1p2yig0/d2atjxyv3e/kzakilj/bf/9536ee218c/6feedf26a1/ba46bbbc14/a0e225ae18/4f3f620947/c062ca7230/57" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/admin/find_and_list_items?sid=J6K2M4&utm_source=wanted&utm_medium=tile&utm_campaign=<%= spree_current_user&.id %>&utm_term=hats">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-7 category-header">
                  <h5 class="sub-title">Hats</h5>
              </div>
              <div class="col-5 category-icon text-center">
                  <img src="https://ioffer-assets.oss-eu-west-1.aliyuncs.com/as/variants/fx00z7p405y/wbp9i547gs/psa65vi/bf/9536ee218c/6feedf26a1/ba46bbbc14/a0e225ae18/4f3f620947/c062ca7230/57" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/admin/find_and_list_items?sid=Q8P5R1&utm_source=wanted&utm_medium=tile&utm_campaign=<%= spree_current_user&.id %>&utm_term=trainers">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-7 category-header">
                  <h5 class="sub-title">Trainers</h5>
              </div>
              <div class="col-5 category-icon text-center">
                  <img src="https://ioffer-assets.oss-eu-west-1.aliyuncs.com/as/variants/icwxi04do94/xqj0ymnk70/2l4oxts/bf/9536ee218c/6feedf26a1/ba46bbbc14/a0e225ae18/4f3f620947/c062ca7230/57" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/admin/find_and_list_items?sid=V2X7C9&utm_source=wanted&utm_medium=tile&utm_campaign=<%= spree_current_user&.id %>&utm_term=luggage">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-7 category-header">
                  <h5 class="sub-title">Luggage</h5>
              </div>
              <div class="col-5 category-icon text-center">
                  <img src="https://ioffer-assets.oss-eu-west-1.aliyuncs.com/as/variants/wsay3in6gta/zg6ubqts4k/nbtaxvm/bf/9536ee218c/6feedf26a1/ba46bbbc14/a0e225ae18/4f3f620947/c062ca7230/57" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/admin/find_and_list_items?sid=W3B1H8&utm_source=wanted&utm_medium=tile&utm_campaign=<%= spree_current_user&.id %>&utm_term=air-jordan">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-7 category-header">
                  <h5 class="sub-title">Air Jordan</h5>
              </div>
              <div class="col-5 category-icon text-center">
                  <img src="https://ioffer-assets.oss-eu-west-1.aliyuncs.com/as/variants/02weioill60/3qthb5kmjt/r4g500l/bf/9536ee218c/6feedf26a1/ba46bbbc14/a0e225ae18/4f3f620947/c062ca7230/57" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/admin/find_and_list_items?sid=T4L9F2&utm_source=wanted&utm_medium=tile&utm_campaign=<%= spree_current_user&.id %>&utm_term=gucci">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-7 category-header">
                  <h5 class="sub-title">Gucci</h5>
              </div>
              <div class="col-5 category-icon text-center">
                  <img src="https://ioffer-assets.oss-eu-west-1.aliyuncs.com/as/variants/qpsz61l8o5r/lo37ka9lys/5chsx68/bf/9536ee218c/6feedf26a1/ba46bbbc14/a0e225ae18/4f3f620947/c062ca7230/57" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/admin/find_and_list_items?sid=Y7N3K6&utm_source=wanted&utm_medium=tile&utm_campaign=<%= spree_current_user&.id %>&utm_term=lv">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-7 category-header">
                  <h5 class="sub-title">Louis Vuitton</h5>
              </div>
              <div class="col-5 category-icon text-center">
                  <img src="https://ioffer-assets.oss-eu-west-1.aliyuncs.com/as/variants/2tp6m1v0fdb/qy5me5gplz/bfy2h6x/bf/9536ee218c/6feedf26a1/ba46bbbc14/a0e225ae18/4f3f620947/c062ca7230/57" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/admin/find_and_list_items?sid=X2C8D5&utm_source=wanted&utm_medium=tile&utm_campaign=<%= spree_current_user&.id %>&utm_term=chanel">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-7 category-header">
                  <h5 class="sub-title">Chanel</h5>
              </div>
              <div class="col-5 category-icon text-center">
                  <img src="https://ioffer-assets.oss-eu-west-1.aliyuncs.com/as/variants/q3agi70q4q5/7hii3t6s0s/kb0jbu7/bf/9536ee218c/6feedf26a1/ba46bbbc14/a0e225ae18/4f3f620947/c062ca7230/57" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/admin/find_and_list_items?sid=Z9R1P3&utm_source=wanted&utm_medium=tile&utm_campaign=<%= spree_current_user&.id %>&utm_term=dior">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-7 category-header">
                  <h5 class="sub-title">Dior</h5>
              </div>
              <div class="col-5 category-icon text-center">
                  <img src="https://ioffer-assets.oss-eu-west-1.aliyuncs.com/as/variants/v649v5z8jt9/pzj9t2i1c8/orj0ixi/bf/9536ee218c/6feedf26a1/ba46bbbc14/a0e225ae18/4f3f620947/c062ca7230/57" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/admin/find_and_list_items?sid=L8M7T2&utm_source=wanted&utm_medium=tile&utm_campaign=<%= spree_current_user&.id %>&utm_term=versace">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-7 category-header">
                  <h5 class="sub-title">Versace</h5>
              </div>
              <div class="col-5 category-icon text-center">
                  <img src="https://ioffer-assets.oss-eu-west-1.aliyuncs.com/as/variants/mloicqdxql9/ocfwxr7pye/3iarqwq/bf/9536ee218c/6feedf26a1/ba46bbbc14/a0e225ae18/4f3f620947/c062ca7230/57" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/admin/find_and_list_items?sid=F3V9W4&utm_source=wanted&utm_medium=tile&utm_campaign=<%= spree_current_user&.id %>&utm_term=fendi">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-7 category-header">
                  <h5 class="sub-title">Fendi</h5>
              </div>
              <div class="col-5 category-icon text-center">
                  <img src="https://ioffer-assets.oss-eu-west-1.aliyuncs.com/as/variants/t00duw0dqum/e178oj2gce/h1ns4t1/bf/9536ee218c/6feedf26a1/ba46bbbc14/a0e225ae18/4f3f620947/c062ca7230/57" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/admin/find_and_list_items?sid=H1B2Y8&utm_source=wanted&utm_medium=tile&utm_campaign=<%= spree_current_user&.id %>&utm_term=prada">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-7 category-header">
                  <h5 class="sub-title">Prada</h5>
              </div>
              <div class="col-5 category-icon text-center">
                  <img src="https://ioffer-assets.oss-eu-west-1.aliyuncs.com/as/variants/brw3l6czssf/qaqvuuhq4t/brlegu8/bf/9536ee218c/6feedf26a1/ba46bbbc14/a0e225ae18/4f3f620947/c062ca7230/57" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/admin/find_and_list_items?sid=P6J9K3&utm_source=wanted&utm_medium=tile&utm_campaign=<%= spree_current_user&.id %>&utm_term=balenciaga">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-7 category-header">
                  <h5 class="sub-title">Balenciaga</h5>
              </div>
              <div class="col-5 category-icon text-center">
                  <img src="https://ioffer-assets.oss-eu-west-1.aliyuncs.com/as/variants/7c1gwxnp9va/zv1cdkaizi/11q65q3/bf/9536ee218c/6feedf26a1/ba46bbbc14/a0e225ae18/4f3f620947/c062ca7230/57" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/admin/find_and_list_items?sid=D7N2L4&utm_source=wanted&utm_medium=tile&utm_campaign=<%= spree_current_user&.id %>&utm_term=off-white">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-7 category-header">
                  <h5 class="sub-title">Off-White</h5>
              </div>
              <div class="col-5 category-icon text-center">
                  <img src="https://ioffer-assets.oss-eu-west-1.aliyuncs.com/as/variants/5gl2o1imrtf/8ccicydm1b/edyk5x8/bf/9536ee218c/6feedf26a1/ba46bbbc14/a0e225ae18/4f3f620947/c062ca7230/57" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/admin/find_and_list_items?sid=X5T8M9&utm_source=wanted&utm_medium=tile&utm_campaign=<%= spree_current_user&.id %>&utm_term=moncler">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-7 category-header">
                  <h5 class="sub-title">Moncler</h5>
              </div>
              <div class="col-5 category-icon text-center">
                  <img src="https://ioffer-assets.oss-eu-west-1.aliyuncs.com/as/variants/prig8llvslb/0bjfdfhhhc/gi1x9wp/bf/9536ee218c/6feedf26a1/ba46bbbc14/a0e225ae18/4f3f620947/c062ca7230/57" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/admin/find_and_list_items?sid=R1Q6Z3&utm_source=wanted&utm_medium=tile&utm_campaign=<%= spree_current_user&.id %>&utm_term=supreme">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-7 category-header">
                  <h5 class="sub-title">Supreme</h5>
              </div>
              <div class="col-5 category-icon text-center">
                  <img src="https://ioffer-assets.oss-eu-west-1.aliyuncs.com/as/variants/qeux1p2yig0/d2atjxyv3e/kzakilj/bf/9536ee218c/6feedf26a1/ba46bbbc14/a0e225ae18/4f3f620947/c062ca7230/57" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/admin/find_and_list_items?sid=B8C2W7&utm_source=wanted&utm_medium=tile&utm_campaign=<%= spree_current_user&.id %>&utm_term=givenchy">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-7 category-header">
                  <h5 class="sub-title">Givenchy</h5>
              </div>
              <div class="col-5 category-icon text-center">
                  <img src="https://ioffer-assets.oss-eu-west-1.aliyuncs.com/as/variants/5c2e6j9ydz3/1fyha9glj3/mzaq2rx/bf/9536ee218c/6feedf26a1/ba46bbbc14/a0e225ae18/4f3f620947/c062ca7230/57" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/admin/find_and_list_items?sid=V9Y4F1&utm_source=wanted&utm_medium=tile&utm_campaign=<%= spree_current_user&.id %>&utm_term=yeezy">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-7 category-header">
                  <h5 class="sub-title">Yeezy</h5>
              </div>
              <div class="col-5 category-icon text-center">
                  <img src="https://ioffer-assets.oss-eu-west-1.aliyuncs.com/as/variants/kwva3pm0oie/g5kae8pxab/gsv2ysi/bf/9536ee218c/6feedf26a1/ba46bbbc14/a0e225ae18/4f3f620947/c062ca7230/57" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/admin/find_and_list_items?sid=H3P7L2&utm_source=wanted&utm_medium=tile&utm_campaign=<%= spree_current_user&.id %>&utm_term=coach">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-7 category-header">
                  <h5 class="sub-title">Coach</h5>
              </div>
              <div class="col-5 category-icon text-center">
                  <img src="https://ioffer-assets.oss-eu-west-1.aliyuncs.com/as/variants/52y04rrfo4q/enf998sich/7w9lsio/bf/9536ee218c/6feedf26a1/ba46bbbc14/a0e225ae18/4f3f620947/c062ca7230/57" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/admin/find_and_list_items?sid=K2J8X5&utm_source=wanted&utm_medium=tile&utm_campaign=<%= spree_current_user&.id %>&utm_term=omega">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-7 category-header">
                  <h5 class="sub-title">Omega</h5>
              </div>
              <div class="col-5 category-icon text-center">
                  <img src="https://ioffer-assets.oss-eu-west-1.aliyuncs.com/as/variants/zt4obz5ikhg/kabbdzmkb7/xa9zsn7/bf/9536ee218c/6feedf26a1/ba46bbbc14/a0e225ae18/4f3f620947/c062ca7230/57" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/admin/find_and_list_items?sid=M9W1C6&utm_source=wanted&utm_medium=tile&utm_campaign=<%= spree_current_user&.id %>&utm_term=adidas">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-7 category-header">
                  <h5 class="sub-title">Adidas</h5>
              </div>
              <div class="col-5 category-icon text-center">
                  <img src="https://ioffer-assets.oss-eu-west-1.aliyuncs.com/as/variants/w7ww5my3nhn/t3jgngrq07/f9mfxho/bf/9536ee218c/6feedf26a1/ba46bbbc14/a0e225ae18/4f3f620947/c062ca7230/57" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
    <li class="mt-3">
      <a href="/admin/find_and_list_items?sid=Y3R4N8&utm_source=wanted&utm_medium=tile&utm_campaign=<%= spree_current_user&.id %>&utm_term=hermes">
          <div class="visual-category-tile mr-2 overflow-hidden" data-wow-duration="1.2s" data-wow-delay="0.2s">
            <div class="row">
              <div class="col-7 category-header">
                  <h5 class="sub-title">Hermes</h5>
              </div>
              <div class="col-5 category-icon text-center">
                  <img src="https://ioffer-assets.oss-eu-west-1.aliyuncs.com/as/variants/wy4ny4rtrxq/cw556clbnn/y43p3nm/bf/9536ee218c/6feedf26a1/ba46bbbc14/a0e225ae18/4f3f620947/c062ca7230/57" alt="">
              </div>
            </div>
          </div> <!-- pricing style one -->
      </a>
    </li>
</ul>
